{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "challenge/index.css" %}">
<link rel="stylesheet" href="{% static "challenge/includes/header.css" %}">
{% endblock %}

{% block page_title %}
    All Challenges
{% endblock  %}


{% block content %}
{% include "challenge/includes/header.html" %}

   <ul>
    {% for month in months %}
    <li><a href="{% url "month-challenge" month %}">{{ month|title }}</a></li>
    {% endfor %}
   </ul>
{% endblock  %}